# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [9]:
# import library
from datetime import datetime

now = datetime.now()
date_time_string = now.strftime("%Y-%d-%m %H:%M:%S")
print(date_time_string)

2023-07-08 10:35:06

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [14]:
import math

def circle_area (radius):
    return math.pi*radius**2

print(circle_area(2))

3.141592653589793
12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [19]:
def is_unique_list (li):
    unique_li = list(set(li))
    return li == unique_li

print(is_unique_list([2,4,5,5,7,9]))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [33]:
"""
coutner function
returns a dictionary
"""
def char_counter (input_str):
    input_str = input_str.upper()
    chars_counter = {}
    for character in input_str:
        if character in chars_counter.keys():
            chars_counter[character] += 1
        else:
            chars_counter[character] = 1
    return chars_counter

"""
main function
"""
text_file = open(file='data/lil-wayne.txt')
data = open(file=path).read()
print(char_counter(data))
text_file.close()

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [88]:
# Soulution 1: without Sorting
def find_most_char(counters):
    # max_val = max(counters.values())
    max_key = max(counters, key= lambda x: counters[x])
    print("1. Character appears the most: '", max_key, "'")

char_counters = char_counter(data)
find_most_char(char_counters)

# Soulution 2: with Sorting
def sort_most_char(counters):
    counters_sorted = sorted(counters.items(), key=lambda x:x[1], reverse=True)
    print("2. Character appears the most: ", counters_sorted[0])

sort_most_char(char_counters)

1. Character appears the most: '   '
2. Character appears the most:  (' ', 522)

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [98]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
# * Remove the fourth number from the list.
rv_num = list1[3]
list1.remove(rv_num)

# * Take that number you just removed and multiply the last number of the list by that number.
rv_num *= list1[-1]

# * Append that number to the end of the list.
list1.append(rv_num)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [110]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for num in original_list:
    if num%3 == 0: new_list.append(num)
print("1. using traditional for loop: ", new_list)

# 2. using list comprehension
new_list = [num for num in original_list if num%3==0]
print("2. using list comprehension: ", new_list)

1. using traditional for loop:  [3, 6, 9, 15, 21]
2. using list comprehension:  [3, 6, 9, 15, 21]

## #7 Reverse the list below

In [105]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [103]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = [num**2 for num in original_list]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [114]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
end_list = len(list1)

for i in range(0, end_list):
    print(list1[i], list2[end_list-i-1])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [128]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

# 1. technically not removing the empty strings, but selecting the others 
# list_of_strings = [str for str in list_of_strings if str != '']

# 2. using while loop
while '' in list_of_strings:
    list_of_strings.remove('')
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}
Expected Output:  True

In [131]:
def is_999_exist(sample_dict):
    for key in sample_dict:
        if sample_dict[key] == 999: return True
    return False

sample_dict = {'a': 100, 'b': 999, 'c': 300}
print(is_999_exist(sample_dict))

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titanic.csv` and store it as a variable named `df`.

In [2]:
import pandas as pd
df = pd.read_csv(r'data/titanic.csv')
print(df)

     passengerid  survived  pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  name     sex   age  sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     parch            ticket     fare cabin embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [176]:
df = pd.read_csv(r'data/titanic.csv')
df_age = pd.DataFrame(df, columns=['age'])
print(df_age)
print(df_age.mean())

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]
age    29.699118
dtype: float64

## What was the oldest and youngest ages on the titanic?

In [157]:
print('oldest age: ', df_age.max())
print('youngest age', df_age.min())

oldest age:  age    80.0
dtype: float64
youngest age age    0.42
dtype: float64

## How many people embarked from station 'S'?

In [3]:
# df_embarked =pd.DataFrame(data, columns=['embarked'])
# print(df_embarked)

print(df['embarked'])
print(df['embarked'].value_counts()['S'])

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object
644